.hero {
  padding-top: 170px;
  padding-bottom: 138px;
  background-image: url("../img/hero.png");
  background-repeat: no-repeat;
  background-position: center;

  h1 {
    max-width: 650px;
    margin-top: 40px;
  }
}
