.link {
  display: flex;
  align-content: center;
  color: $green;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;

  &:hover, &:active, &:focus, &:visited {
    color: darken($green, 10);

    svg path {
      fill: darken($green, 10);
    }
  }

  svg {
    margin-left: 10px;
  }
}
